body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch; 
    margin-inline: auto;
    padding: 0 1rem;
  }

:root {
    color-scheme: light dark;
    --color-accent: oklch(87.35% 0.0839 11.65); 
    accent-color: var(--color-accent);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 0 1rem;
    background-color: Canvas;
    color: CanvasText;
}

nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid oklch(80% 3% 200);
}

nav ul, nav li {
    display: contents;
}

nav a {
    flex: 1; 
    text-decoration: none;
    color: inherit; 
    text-align: center; 
}

.current {
    font-weight: bold;
    border-bottom: 0.4em solid oklch(80% 3% 200); 
    padding-bottom: 0.1em; 
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

label {
    display: grid;
    grid-column: 1;
}

input,
textarea {
    width: 100%; 
    box-sizing: border-box;
    grid-column: 2;
}

button {
    width: 100%;
    box-sizing: border-box;
    grid-column: 1 / -1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr)); 
    gap: 1em;
}

article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

h1 {
    font-size: 400%;
}

h2 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    font-family: inherit;
}

.cv-page header {
    text-align: center;
    margin-bottom: 2rem;
}

.cv-page h1 {
    font-size: 2.5rem;
    margin: 0.5em 0;
}

.cv-page h2 {
    margin-top: 2rem;
    margin-bottom: 0.5em;
}

.cv-page article {
    background: Canvas;
    color: CanvasText; 
    border-radius: 5px;
    padding: 1em; 
    margin-bottom: 1.5em; 
    box-shadow: 0 2px 5px color-mix(in srgb, GrayText 15%, Canvas 85%);
}

.cv-page time {
    display: block;
    color: GrayText; 
    margin-bottom: 0.5em;
}

.cv-page ul {
    margin: 0; 
    padding-left: 1.5em; 
}

.cv-page section {
    margin-bottom: 2rem;
}